.navbar {
    width: 100%;
    background-color: transparent;
    border-bottom:var(--border);
    padding: 10px 0;

}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.bars {
    font-size: 25px;
    cursor: pointer;
}


@media screen and (min-width: 1300px) {
    .navbar {
        display: none;
    }
}